# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Environment variables
.env

# Instance folder (Flask)
instance/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# SQLite DB
*.db
